@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&family=Roboto:wght@300;400&display=swap');

:root {
    --svetloZelena: #86d4aa;
    --srednjeZelena: #3db89c;
    --tamnoZelena: #209677;
    /*  rgb(32, 150, 119) */
    --bela: #fff;
    --svetloSiva: #f5f5f5;
    --tamnoSiva: #555;
    --transition: .3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--tamnoSiva);
    line-height: 1.6;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'MuseoModerno', cursive;
}

img {
    width: 100%;
    display: block;
}

.bg-light {
    background: rgba(255, 255, 255, .8) !important;
}

p {
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.1rem;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--svetloSiva);
}


/***header***/
header {
    background: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.logo {
    width: 30%;
}

.nav-item.active {
    background-color: var(--tamnoZelena);
}

.nav-item.active .nav-link {
    color: var(--bela) !important;
}

.nav-item {
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-item .nav-link {
    color: var(--tamnoZelena) !important;
    font-weight: 600;
    transition: var(--transition);
}

.nav-item .nav-link:hover {

    background: var(--tamnoZelena);
    color: var(--bela) !important;
}

/***mainHead***/
.mainHead {
    background: var(--srednjeZelena);
    margin-top: -100px;
}

.mainHead p {
    font-size: 1.2rem;
}

/***usluge***/
.usluge .naslov h2::after {
    content: "";
    display: block;
    width: 5%;
    height: 10px;
    background: linear-gradient(to right, rgba(32, 150, 119, .2), rgba(32, 150, 119, .9));
    margin: 20px auto;
}

.wrapper img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper {
    border-radius: 5px;
}

/***bottomBar***/
.bottomBar {
    background: var(--srednjeZelena);
}

.bottomBar button {
    border: none;
    font-family: 'MuseoModerno', cursive;
    transition: var(--transition);
}

.bottomBar button:hover {
    opacity: .8;
}

.bottomBar .icons i {
    font-size: 1.5rem;
    transition: var(--transition);
}

.bottomBar .icons i:hover {
    transform: rotate(360deg);
}

/***********
BLOG
**********/

.mainHeadBlog {
    margin-top: -300px;
}

.blogHeader {
    background: url(img/blog-header.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.mainHeadBlog h1 {
    background: rgba(32, 150, 119, .8) !important;
    display: inline-block;
    font-size: 2.5rem !important;
}

/***posts***/

.posts {
    margin-top: 100px;
}

.post .image {
    overflow: hidden;
}

.posts .tekst {
    background: var(--srednjeZelena);
    display: inline-block;
    margin-top: -100px;
    margin-left: 30px;
    margin-right: 30px;

}

.posts .tekst p {
    font-size: 1.2rem;
}

.posts .tekst button {
    background: var(--tamnoSiva);
    border: none;
    transition: var(--transition);
}

.posts button:hover {
    opacity: .8;
}

.posts a {
    color: var(--srednjeZelena);
    font-weight: 600;
}

.posts .col-md-4 article {
    border: 1px solid var(--srednjeZelena);
}

/********
KONTAKT
********/

.kontaktHeader {
    background: url(img/header-kontakt.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.mainHeadKontakt {
    margin-top: -300px;
}

.mainHeadKontakt h1 {
    background: rgba(32, 150, 119, .6);
    display: inline-block;
    font-size: 2.5rem !important;
}


.kontakt {
    background: var(--srednjeZelena);
}


.kontakt button {
    border: none;
    background: var(--tamnoSiva);
    color: var(--bela);
    transition: var(--transition);
}

.kontakt button:hover {
    opacity: .8;
}